@inherits ComponentBase
@page "/probDes"
<div class="ivu-card-body
 shadow p-3 m-5 bg-body rounded" style="align-content-center min-width:500px; min-height: 626px;">
    <div class="panel-title">
        <div data-v-6e5e6c6e="">Kuchukcha</div>
    </div>
    <div class="row">
        
 
    <div class="card-body">
        <div data-v-6e5e6c6e="" id="problem-content" class="markdown-body">
            <p data-v-6e5e6c6e="" class="title">Description</p>
            <p data-v-6e5e6c6e="" class="content">
            <p>Misolda ko'rsatilganiday kuchukcha chop eting.</p>
            </p>
            <p data-v-6e5e6c6e="" class="title"> Input 
                <!---->
            </p>
            <p data-v-6e5e6c6e="" class="content">
            <p>Ushbu misolda<code>input</code>mavjud emas.</p>
            </p>
            <p data-v-6e5e6c6e="" class="title">Output
                <!---->
            </p>
            <p data-v-6e5e6c6e="" class="content">
            <p>Misolda ko'rsatilganday kuchukcha chop eting.</p>
            </p>
            <div data-v-6e5e6c6e="">
                <div data-v-6e5e6c6e="" class="flex-container sample row">
                    <div data-v-6e5e6c6e="" class="sample-input col-md-6">
                        <p data-v-6e5e6c6e="" class="title">Sample Input 1
                            <a data-v-6e5e6c6e="" class="copy"><i data-v-6e5e6c6e=""
                                    class="ivu-icon ivu-icon-clipboard"></i></a>
                        </p>
                        <pre data-v-6e5e6c6e="">input yoq</pre>
                    </div>
                    <div data-v-6e5e6c6e="" class="sample-output col-md-6">
                        <p data-v-6e5e6c6e="" class="title">Sample Output 1</p>
                        <pre data-v-6e5e6c6e="">|\_/|
|qp| /}
( 0 )"""\
|"^"` |
||_/=\\__|</pre>
                    </div>
                </div>
            </div>
            <!---->
            <!---->
        </div>
    </div>
    </div>
</div>
