@page "/"

<link href="css/site.css" rel="stylesheet"> 
<div>
    <h1>qwerty</h1>
</div>
@* <div class="div-height"> *@
    <div data-v-24595e44="" class="ivu-col ivu-col-span-5 div-height" style="padding-left: 9px; padding-right: 9px;"><div data-v-24595e44="" class="ivu-card ivu-card-bordered"><div class="ivu-card-head"><div class="panel-title"><div data-v-24595e44="" class="taglist-title">Tags</div></div></div> <div class="ivu-card-extra"><div class="panel-extra"></div></div> <div class="ivu-card-body" style="padding: 10px;">  <div class="panel-body"> <button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>data structures
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>hard
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>mutpilm
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>qiyin
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>ikkilik sanoq tizimi
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>insertion
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>modulus
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>computation
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>loops
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>kriptografiya
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>circular linked list
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>quadratic equation
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>pythagorian
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>kuchukcha
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>sorting
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>revenue
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>simple
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>josephus
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>masofa
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>struct
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>fibonacci
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>algoritm
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>logic
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>easy
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>chess
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>print
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>loop
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>triangle
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>pifagor
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>array
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>palindrom
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>low
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>dynamic allocation
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>float
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>reverse
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>game
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>selection
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>int
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>string manipulation
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>chop etish
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>yandex
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>structure
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>tarelka
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>timetable
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>binary
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>ascii
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>functions
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>calculation
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>funksiya
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>ilmhub
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>algorithm
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>contest
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>high
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>linked list
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>faktorial
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>oson
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>char
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>roundoff
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>soyabon
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>son
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>data types
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>conditionals
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>number
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>bubble
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>sonlar
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>math
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>file
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>Sonlar
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>sum
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>ekub
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>leap
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>pointer
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>geometry
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>mushukcha
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>ternary
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>cryptography
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>massiv
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>doira
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>string
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>io
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>timespan
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>console
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>mid
    </span></button><button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle"><!----> <!----> <span>taxi
    </span></button> <button data-v-24595e44="" type="button" class="ivu-btn ivu-btn-long" id="pick-one"><!----> <!----> <span><i data-v-24595e44="" class="ivu-icon ivu-icon-shuffle"></i>
      Pick one
    </span></button></div></div></div> <!----></div>
@* </div> *@


@* <MudText Typo="Typo.h6">MudBlazor is @Text</MudText>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">@ButtonText</MudButton> *@
@code {
    public string Text { get; set; } = "????";
    public string ButtonText { get; set; } = "Click Me";
    public int ButtonClicked { get; set; }

    @* public List<string> tages = new 
        {
            ""
        } *@

    void ButtonOnClick()
    {
        ButtonClicked += 1;
        Text = $"Awesome x {ButtonClicked}";
        ButtonText = "Click Me Again";
    }
}