@page "/"

<link href="css/site.css" rel="stylesheet">

<div data-v-24595e44="" class="ivu-col ivu-col-span-5 div-height" style="width: 100%; padding-left: 9px;
    padding-right: 9px;">
    <div data-v-24595e44="" class="ivu-card ivu-card-bordered">
        <div class="ivu-card-head">
            <div class="panel-title">
                <div data-v-24595e44="" class="taglist-title">Tags</div>
            </div>
        </div>
        <div class="ivu-card-extra">
            <div class="panel-extra"></div>
        </div>
        <div class="ivu-card-body" style="padding: 10px;">

            @for (int i = 0; i < Tags.Count(); i++)
            {
                <div class="panel-body">
                    <button data-v-24595e44="" type="button" class="tag-btn ivu-btn ivu-btn-ghost ivu-btn-circle">
                        <a href="#">@Tags[i] &nbsp;&nbsp;</a>
                    </button>               
                </div>
            }
            <div class="panel-body">                            
                <button data-v-24595e44="" type="button" class="ivu-btn ivu-btn-long" id="pick-one">
                    <span><i data-v-24595e44="" class="ivu-icon ivu-icon-shuffle"></i>Pick one</span>
                </button>
            </div>
        </div>
    </div>
</div>


@code {
    
    public string[] Tags = {"qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu",
"iktyc","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc",
"dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw",
"yuikyu","qw","wer","er", "dcwc", "awdcasc", "dwcscc", "wdcwcvw", "wefwfvw", "yuikyu","qw","wer","er", "dcwc",
"awdcasc"};
}





