@inject HttpClient Http

@page "/problems"
@using Models.Tags
@using oj.fe.Components


@* <ProblemsGridComponent Model="@ProblemsModel.Data"></ProblemsGridComponent> *@
@* <TagsComponent Model="@Tags"/> *@
<a class="btn btn-primary" href="/problems/5">Click</a>
=======
@if(Tags != null)
{
    <TagsComponent Model="@Tags"></TagsComponent>
}

@code {
    public TagsModel Tags { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        Tags = await Http.GetFromJsonAsync<TagsModel>("http://oj.ilmhub.uz/api/problem/tags");
    }
}